<div id = "section-edit-txns">

    <h1>Edit your transaction</h1>

    <form action="/transactions/<%= @transaction.id %>/update" method="post">
      <label for="Merchant Name:">Merchant Name:</label>
      <select name="merchant_id">
        <% for merchant in @merchants %>
        <option value="<%=merchant.id %>"><%= merchant.name %></option>
        <% end %>
      </select>

      <label>
        <label for="Type">Type of Purchase:</label>
        <select name="type_id">
          <% for type in @types %>
          <option value="<%= type.id %>"><%= type.type %></option>
          <% end %>
        </select>
      </label>

      <label for="cost">Cost:</label>
      <input type="number" step="any" id="cost" name="cost">

      <label for="date">Date:</label>
      <input type="date" id="date" name="date">

      <input class="button" type='submit' value="Resubmit Transaction">

    </form>

</div>
