<div id = "section-all-txns">
  <div class = "content">
    <h1 class = "non-index">Transactions</h1>
    <h2></h2>
    <h3>All Transactions Made: Last 30 Days</h3>
    <h4>Click a Merchant Name to Edit or Delete</h4>

    <table id = "all">
      <tr>
        <th>Shop</th>
        <th>Type</th>
        <th>Cost</th>
        <th>Date</th>
      </tr>
      <% for transaction in @transactions %>
      <tr>
        <td><a href="/transactions/<%= transaction.id %>"><%= transaction.merchant.name %></a></td>
        <td><%= transaction.type.type %></td>
        <td>£<%= "%.2f" %transaction.cost %></td>
        <td><%= transaction.date %></td>
      </tr>
      <% end %>
    </table>
    <form action="/transactions/new">
      <input type="submit" value="Add New Transaction" />
    </form>
    <h3>Total Amount Spent This Month</h3>
    <table id = "total">
      <tr>
        <th>Total Spent (£)</th>
        <tr>
          <td>£<%=@count%></td>
        </tr>
      </table>


      </tr>
    </table>

  </div>
</div>
